@model food_delivery.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.CustomUser)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.CustomUser.Id)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.restaurant)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.restaurant.Description)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.status.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary me-5" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-info" asp-action="Index">Back</a>
</div>
